@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --cor01: #831D1C;
    --fonte01: 'Lato';
}

section > p{
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 700px;
    margin: auto;
}

b{
    color: #003522;
}

h2#topo{
    margin-top: -70px;
}

ul{
    font-family: var(--fonte01);
    font-size: 1.2em;
    list-style: none;
    margin-top: 30px;
    margin-bottom: 30px;
} 

ul > li::before{
    content: '\2022';
    color: var(--cor01);
}

ul.goleiros{
    text-align: center;
}

ul#jogadores{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
